form{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    justify-content: center;
    display: none;
    flex-direction: column;
    padding: 50px;
    background-color: aquamarine;
    border-radius: 20px;
}
p{
    color: red;
    display: none;
}